html {
  color: #333;
  font: 14px helvetica, arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  padding: 4px 15px 5px;
  z-index: 2;
}

.navigation {
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  justify-items: center;
  margin: 0 auto;
}

.navigation .section-label {
  text-transform: uppercase;
  color: #000;
}

.navigation .nav-left,
.navigation .nav-right {
  display: grid;
  grid-auto-flow: column;
  column-gap: 25px;
}

.navigation .nav-left {
  justify-self: start;
}

.navigation .nav-right {
  column-gap: 5px;
  justify-self: end;
}

.btn {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  padding: 11px 12px 8px;
  letter-spacing: 0.05em;

  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  transition: ease 0.6s;
}

.btn:hover {
  background-color: #326891;
  border: 1px solid #326891;
}

.btn a {
  text-decoration: none;
}

.btn-content {
  height: 32px;

  border-radius: 2px;
  border: 1px solid #333;
  background-color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid rgb(0, 0, 0);
  transition: all 0.4s ease 0s;
}

.btn-content:hover {
  background-color: #000;
  color: white;
}

.grid-self-center {
  justify-self: center;
  align-self: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.icon-circle {
  width: 28px;
  height: 28px;
  border-radius: 50px;

  background-color: #eee;
  border: 1px #eee solid;
}

.icon-circle:hover {
  background-color: #fff;
  border: 1px rgb(182, 182, 182) solid;
}

.icon-circle > * {
  width: 100%;
  height: 100%;
}

.icon-circle.bg-transparent {
  background-color: transparent;
  border-color: transparent;
}

.wp-icon-svg {
  width: 16px;
  height: 16px;
  background-image: url('/images/icon-whatsapp.svg');
}

.comments-icon {
  position: relative;
  border: 1px solid rgb(102, 102, 102);
  padding: 4px 6px;
  border-radius: 4px;
}

.comments-icon::before {
  position: absolute;
  bottom: -7px;
  left: 15px;
  width: 0px;
  display: block;
  content: '';
  border-color: rgb(102, 102, 102) transparent;
  border-style: solid;
  border-width: 6px 0px 0px 8px;
}

.comments-icon::after {
  position: absolute;
  bottom: -6px;
  left: 16px;
  width: 0px;
  display: block;
  content: '';
  border-color: rgb(255, 255, 255) transparent;
  border-style: solid;
  border-width: 6px 0px 0px 6px;
}

.nyt-svg {
  height: auto;
  width: 195px;
}

.default-text {
  font-size: 1.2rem !important;
  line-height: 1.3rem !important;
}

.small-text {
  font-size: 0.8rem !important;
  line-height: 1rem !important;
}

.bg-text {
  font-size: 1rem;
  color: #666;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.25rem;
}

.bg-text a {
  color: #666 !important;
}

.credit-text {
  color: #888;
  letter-spacing: 0.01rem;
  font-size: 1rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 4.5fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 20px;

  max-width: 1200px;
  margin: 100px auto 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.content p {
  font-size: 1.425rem;
  line-height: 1.9rem;
}

.content p a {
  color: #326891;
  text-decoration: underline;
}

.content p strong {
  font-size: 1.4rem;
}

.content > * {
  grid-column: 3 / span 1;
}

.content-header {
  grid-column: 3 / span 1;
}

.content-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2.3rem !important;
  line-height: 3rem !important;
  color: #121212;
  margin-bottom: 20px;
}

.header-links {
  padding: 20px 0;
  border-top: 1px solid #ebebeb;
}

.content-links {
  font-size: 0.9rem;
}

.content-links a {
  text-decoration: none;
}

.content-links ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
  grid-auto-flow: column;
  column-gap: 15px;
}

.content-header ul {
  display: flex;
  justify-content: start;
  list-style: none;
}

.wide {
  grid-column: 1 / -1;
}

.wide figcaption {
  width: 80%;
  padding-top: 5px;
}

.content .big {
  grid-column: 2 / -2;
}

.author {
  padding: 20px 0 50px;
}

.author a {
  text-decoration: underline;
}

.author h2 {
  font-size: 1rem;
}

.author p {
  margin-top: 20px;
}

.content-signup {
  display: grid;
  grid-template-columns: 1fr 100px;
  column-gap: 10px;

  font-style: italic;
  text-align: left;
  padding-top: 10px;
  border-top: 1px solid #e2e2e2;
}

.content-signup p {
  font-size: 1.1rem;
}

.content-signup p strong {
  font-size: 1rem;
  text-transform: uppercase;
  font-style: normal;
}

.times-subscribe {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.times-subscribe::before {
  position: absolute;
  top: 0;
  display: block;
  content: '';
  width: 13%;
  height: 1px;
  background-color: #cccccc;
}

.times-subscribe::after {
  position: absolute;
  bottom: 0;
  display: block;
  content: '';
  width: 13%;
  height: 1px;
  background-color: #ccc;
}

.times-subscribe p {
  font-size: 1rem;
  font-weight: bold;
}

.times-subscribe a {
  color: #326891;
  font-weight: bold;
}

.editor-picks {
  grid-column: 4 / -1;
  grid-row-end: span 5;
  padding-left: 40px;
}

.editor-picks header {
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 15px;
}

.editor-picks .title {
  font-weight: bold;
}

.editor-picks article {
  display: grid;
  grid-template-columns: 75px 1fr;
  gap: 10px;
  text-align: left;
}

.editor-picks img {
  width: 100%;
}

.editor-picks h3 {
  font-size: 0.925rem;
  font-weight: 300;
}

.theory-of-inflation {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  padding: 20px 0 30px;

  font-family: helvetica, arial, sans-serif;
}

.theory-of-inflation .title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #000;
}

.theory-of-inflation .smaller-text {
  font-size: 0.975rem;
  line-height: 1.2rem;
}

.theory-of-inflation .inflation-graphic strong {
  font-size: 12px;
  margin-right: 8px;
  color: #000;
  font-weight: bold;
}

.inflation-graphic {
  position: relative;
  min-width: 720px;
  max-width: 945px;
}

.theory-of-inflation .credit {
  position: relative;
  padding-top: 10px;
  font-size: 0.9rem;
}
.theory-of-inflation .credit::before {
  position: absolute;
  top: 0;
  display: block;
  height: 1px;
  background-color: #000;
  width: 50px;
  content: '';
}

.inflation-graphic p {
  position: absolute;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.inflation-pos-1 {
  top: 24.8264%;
  left: 0.0436%;
  width: 25%;
}

.inflation-pos-2 {
  top: 24.8264%;
  left: 25.5619%;
  width: 25%;
}

.inflation-pos-3 {
  top: 24.8264%;
  left: 51.08%;
  width: 100%;
  width: 25%;
}

.inflation-pos-4 {
  top: 24.8264%;
  left: 76.5982%;
  width: 23%;
}

.inflation-pos-5 {
  top: 73.4375%;
  left: 0.0436%;
  width: 25%;
}

.inflation-pos-6 {
  top: 73.4375%;
  left: 25.5619%;
  width: 25%;
}

.inflation-pos-7 {
  top: 73.4375%;
  left: 51.08%;
  width: 25%;
}

.inflation-pos-8 {
  top: 73.4375%;
  left: 76.5982%;
  width: 23%;
}

.article-end {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 0;
}

.article-end button {
  font-size: 0.875rem;
  font-weight: 600;
  height: 36px;
  padding: 0 0 3px;
}

.footer {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;

  margin: 10px auto 20px;
}

.footer ul {
  list-style: none;
  font-size: 10px;
  text-align: center;
}

.footer ul li {
  display: inline-block;
  padding: 0 10px;
}
